*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e3e3e3;
    position: relative;
}
a{
    text-decoration: none;
}

        /* * Navbar * */
nav{
    width: 100%;
    height: 60px;
    background-color: #1c1b1d;
}
.navbar{
    display: flex;
    justify-content: space-between; 
    color: #fff;
    height: 60px;
    padding: 0 20px;
}
.navbar-logo,
.navbar-search,
.navbar-notifications{
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbar-logo a i{
    font-size: 24px;
    color: #fff;
}
.navbar-search{
    max-width: 400px;
    width: 100%;
    background-color: #322f33;
    margin: 15px 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 1px #616161;
}
.navbar-search input:hover{
    border: 1px solid #f7f7f7;
}
.navbar-search input:focus{
    outline: 1px solid #f0f0f0;
}
.navbar-search input:active{
    border: 1px solid #f0f0f0;
}

.navbar-search i{
    font-size: 12px;
    padding: 1px 5px 0 10px;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.navbar-search input{
    max-width: 400px;
    width: 100%;
    padding: 7px 7px 6.5px 32px;
    border-radius: 8px;
    background-color: #322f33;
    color: #fff;
    border: none;
    outline: none;
    margin-left: -32px;
}
.navbar-search input::placeholder{
    color: #fff;
}
.navbar-notifications{
    margin: 15px 0px;
    gap: 10px;
}
.notifications-icon a{
    background-color: #322f33; 
    border-radius: 8px;
    padding: 7px;
    box-shadow: 0px 0px 1px 1px #616161;
}
.notifications-icon a i{
    color: #fff;
    padding:1px;
    border-radius: 3px;
    border: 1px solid transparent;
}
.notifications-icon a:hover {
    background-color: #616161;
}
.notifications-icon a:active {
    background-color: #616161;
}

.notifications-icon a:focus {
    outline: 1px solid #005BD3;
    background-color: #616161;
}
.notifications-icon a:hover i{
    border: 1px solid greenyellow;
}

.navbar-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #322f33;
    box-shadow: 0px 0px 1px 1px #616161;
    border-radius: 8px;
    cursor: pointer;
}
.navbar-profile:hover,
.navbar-profile:active{
    background-color: #616161;
}
.navbar-profile:focus{
    outline: 1px solid #005BD3;
    background-color: #616161;
}

.navbar-profile-head{
    padding: 5px;
}
.navbar-profile-head h1{
    font-size: 14px;
}
.navbar-profile-logo{
    padding: 8px;
    background-color: greenyellow;
    border-radius: 8px;
    color: #1c1b1d;
}
.navbar-profile-logo h1{
    font-size: 14px;
}

    /* Notifications Dropdown */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.notifications-alert{
    max-width: 350px;
    width: 100%;
    height: auto;
    background-color: #fff;
    color: #1c1b1d;
    border-radius: 8px;
    position: absolute;
    top: 65px;
    right: 15px;
    z-index: 11;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.alert-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 0;
}
.alert-title h1{
    font-size: 14px;
    color: #1c1b1d;
}
.alert-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.alert-icons span,
.alert-icons i{
    font-size: 14px;
}
.alert-icons a span{
    padding-top: 3px;
}
.alert-icons a{
    padding: 4px;
    border-radius: 4px;
}
.alert-icons a:focus{
    outline: 1px solid #005BD3;
}
.alert-icons a i,
.alert-icons a span{
    color: #1c1b1d;
}
.alert-message{
    margin: 15px;
    padding: 13px;
    background-color: #e3e3e3;
}
.alert-message p{
    font-size: 14px;
}

.notifications-alert {
    display: none; 
}
.notifications-alert.active {
    display: block;
}

    /* Profile Dropdown */

.navbar-profile-dropdown{
    display: none;
}
.navbar-profile-dropdown.active-dropdown{
    display: block;
    position: absolute;
    top: 65px;
    right: 15px;
    max-width: 300px;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 8px;
    z-index: 10;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.profile-dropdown{
    padding: 5px;
}
.profile-dropdown a{
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0 5px;
    margin:2px 0;
    height: 34px;
    gap: 10px;
    font-size: 14px;
    color: #322f33;
}
.profile-dropdown a:hover{
    background-color: #e3e3e3;
}
.profile-dropdown a > div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.profile-dropdown h1{
    font-size: 14px;
    color: #322f33;
}
.profile-dropdown i{
    font-size: 14px;
    color: #322f33;
}
.check-icon{
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
}
.navbar-profile-logo{
    width: 36px;
}
.profile-dropdown-group{
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
.profile-dropdown-gmail a{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 2px;
    padding: 10px 5px;
    height: 50px;
}
.profile-dropdown-gmail a h1{
    color: #322f33;
}

    /* Select Plan and Setup Guide */

.select-section {
    width: 100%;
    margin: 30px 0 10px;
    display: flex;
    justify-content: center;
}
.select-plan{
    max-width: 650px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border-radius: 8px;
    background-color: #1c1b1d;
    color: #f0f0f0;
}
.select-plan div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.select-plan button{
    background-color: #f0f0f0;
    padding: 5px 8px;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px #616161;
    border: none;
    cursor: pointer;
    transition: transform all 0.3s;
}
.select-plan button:hover{
    background-color: #e3e3e3;
}
.select-plan button:focus{
    outline: 2px solid #005BD3;
}
.select-plan i{
    cursor: pointer;
}

.setup-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.setup-title{
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px 8px 0 0;
    background-color: #f7f7f7;
    padding: 20px 15px 10px;  
    row-gap: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.fa-angle-down, .fa-angle-up {
    transition: transform 0.3s ease;
}
.setup-head{
    display: flex;
    justify-content: space-between;
}
.setup-head h1{
    font-size: 16px;
}

.progress-bars{
    display: flex;
    align-items: center;
    gap: 20px;
}

.progress-bar {
    max-width: 85px;
    width: 100%;
    height: 7px;
    background-color: #d3d3d3;
    border-radius: 5px;
}

.progress-indicator {
    position: absolute;
    height: 7px;
    width: 1.25%;
    background-color: #1c1b1d;
    border-radius: 5px;
}

.customizes{
    max-width: 650px;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 0 0 8px 8px;
    display: none;
}
.customize{ 
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 8px 0 3px;
}

.customize-head{ 
    display: flex;
    align-items: center;
    padding: 5px 15px 7px;
    gap: 10px;
    cursor: pointer;
}
.customize-head h1{
    flex: 1;
    font-size: 14px;
    color: #322f33;
}
.customize-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px dashed #1c1b1d;
}
.customize-theme{
    max-width: 100%;
    display: none; 
    flex-direction: row;
    height: auto;
    gap: 120px;
    background-color: #f1f1f1;
    margin: 4px;
    padding: 10px 15px 10px 40px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}
.customize.customize-active .customize-theme {
    display: block;
}
.customize-theme img{
    width: 100px;
    height: 65px;
}
.customize-theme div{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}
.customize-theme div p{
    font-size: 14px;
}
.customize-theme div a {
    color: #005BD3;
}

.customize-theme div button {
    width: 130px;
    padding: 7px 10px;
    background-color: #322f33;
    color: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.customize-theme div button:hover {
    background-color: #616161;
}

.customize-theme div button:focus {
    outline: 2px solid #005BD3;
}
.customize-product > a{
    color: #1c1b1d !important;
}

/* Responsive mobile */

@media (max-width: 768px) {
    .navbar-logo h1,
    .navbar-profile-head{
        display: none;
    }
    .customize-theme img{
        display: none;
    }
    
}
@media (max-width: 400px) {
    .navbar-profile-dropdown.active-dropdown {
        right: 0;
        max-width: 100%;
    }
    .notifications-alert.active{
        right: 0;
        max-width: 100%;
    }
}